In [2]:
import pandas as pd
import numpy as np

In [3]:
true_news = pd.read_csv("Train Set/True.csv")
fake_news = pd.read_csv("Train Set/Fake.csv")

In [4]:
fake_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
fake_news.describe()

,title,text,subject,date
count,23481,23481,23481,23481
unique,17903,17455,6,1681
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017"
freq,6,626,9050,46

In [7]:
true_news.describe()

,title,text,subject,date
count,21417,21417,21417,21417
unique,20826,21192,2,716
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017"
freq,14,8,11272,182

In [8]:
true_news["Validity"] = "True"
fake_news["Validity"] = "Fake"

In [9]:
# Merge datasets and shuffle
all_news = pd.concat([true_news, fake_news])
all_news["Article"] = all_news["title"] + all_news["text"]
all_news.sample(frac = 1)

,title,text,subject,date,Validity,Article
22912,Rex Tillerson and Nikki Haley – Who Can ‘Flip ...,21st Century Wire says US Secretary of State R...,Middle-east,"April 10, 2017",Fake,Rex Tillerson and Nikki Haley – Who Can ‘Flip ...
9175,Democrat Hillary Clinton calls Orlando shootin...,WASHINGTON (Reuters) - Democratic U.S. preside...,politicsNews,"June 12, 2016",True,Democrat Hillary Clinton calls Orlando shootin...
8004,Kansas judge extends voting rights for those r...,(Reuters) - A Kansas judge extended voting rig...,politicsNews,"September 27, 2016",True,Kansas judge extends voting rights for those r...
15514,China's former top graft-buster warns of plots...,BEIJING (Reuters) - China must step up vigilan...,worldnews,"November 7, 2017",True,China's former top graft-buster warns of plots...
5411,Hillary Clinton BLASTS Steve King’s Blatant R...,Hillary Clinton is making sure that the shocki...,News,"July 19, 2016",Fake,Hillary Clinton BLASTS Steve King’s Blatant R...
...,...,...,...,...,...,...
18695,Germany's FDP look to fill Schaeuble's big shoes,BERLIN (Reuters) - Wolfgang Schaeuble s decisi...,worldnews,"September 29, 2017",True,Germany's FDP look to fill Schaeuble's big sho...
5314,Former George W. Bush Attorney Jumps Ship Fro...,Yet another Republican is leaving the party in...,News,"July 26, 2016",Fake,Former George W. Bush Attorney Jumps Ship Fro...
2744,Lawyer Ty Cobb to join White House to handle R...,NEW YORK (Reuters) - The White House is hiring...,politicsNews,"July 14, 2017",True,Lawyer Ty Cobb to join White House to handle R...
6931,China lodges protest after Trump call with Tai...,BEIJING/WASHINGTON (Reuters) - China lodged a ...,politicsNews,"December 2, 2016",True,China lodges protest after Trump call with Tai...
6471,SNL ‘President Barbie’ Commercial Jokingly Hi...,The May 8 episode of Saturday Night Live featu...,News,"May 8, 2016",Fake,SNL ‘President Barbie’ Commercial Jokingly Hi...

In [10]:
# Clear Unnecessary Characters
from nltk.corpus import stopwords
import string

In [11]:
def process_text(s):

    # Check for punctuation
    nopunc = [char for char in s if char not in string.punctuation]

    # Join the characters without punctuation
    nopunc = ''.join(nopunc)
    
    # Convert string to lowercase and remove stopwords
    clean_string = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean_string

In [12]:
# Tokenize the article text - Split the chunk of text into words
all_news["Clean Text"] = all_news["Article"].apply(process_text)

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - 'C:\\Users\\MSI/nltk_data'
    - 'C:\\Users\\MSI\\AppData\\Local\\Programs\\Python\\Python310\\nltk_data'
    - 'C:\\Users\\MSI\\AppData\\Local\\Programs\\Python\\Python310\\share\\nltk_data'
    - 'C:\\Users\\MSI\\AppData\\Local\\Programs\\Python\\Python310\\lib\\nltk_data'
    - 'C:\\Users\\MSI\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************